[submodule "src/MDD4All.UI.DataModels"]
	path = src/MDD4All.UI.DataModels
	url = https://github.com/MrDucky0815/MDD4All.UI.DataModels.git

[submodule "src/MDD4All.UI.BlazorComponents"]
	path = src/MDD4All.UI.BlazorComponents
	url = https://github.com/MrDucky0815/MDD4All.UI.BlazorComponents.git
	branch = dev
